
.blog-content img {
  max-width: 100%;
  border-radius: 8px;
}

.blog-heading p {
  font-size: small;
}

.blog-heading h1,
.blog-heading h2,
.blog-heading h3,
.index-heading {
  margin-top: 0px;
}

#site-footer p {
  text-align: center;
}

#site-footer .well {
  margin-bottom: 0px;
}

.read-post-btn {
  float: right;
}

.comment-name {
  float: left;
}

.comment-meta {
  float: right;
  margin-bottom: 0px;
}

