
.blog-content img {
  max-width: 100%;
  border-radius: 8px;
}

.article-title {
  
}

.blog-content {
  margin-bottom: 30px;
}

.blog-heading p {
  font-size: small;
}

.blog-heading h2 {
  margin-top: 0px;
}

#site-footer p {
  text-align: center;
}

#site-footer .well {
  margin-bottom: 0px;
}

