<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recommended Reading</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="http://www.gnomestew.com/" target="_blank">Gnome Stew</a>
    </li>
    <li class="list-group-item">
      <a href="https://rpgcharacters.wordpress.com/" target="_blank">
        Dyson's Dodecahedron
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://roll1d12.blogspot.com/" target="_blank">
        The Dungeon Dozen
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://www.squidi.net/three/" target="_blank">
        Three Hundred Mechanics
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://www.farmcodegary.com/" target="_blank">
        Farm, Code, Gary (my other blog)
      </a>
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recommended Listening</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://npccast.wordpress.com/" target="_blank">NPC Cast</a>
    </li>
    <li class="list-group-item">
      <a href="http://www.kenandrobintalkaboutstuff.com/" target="_blank">
        Ken and Robin Talk About Stuff
      </a>
    </li>
    <li class="list-group-item">
      <a href="http://www.crucibleofrealms.com/" target="_blank">
        Crucible of Realms
      </a>
    </li>
  </ul>
</div>

