<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Social</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{% url 'blog:rssfeed' %}" target="_blank">RSS Feed</a>
    </li>
    <li class="list-group-item">
      <a href="https://plus.google.com/+GarrisonBenson" target="_blank">
        Google+
      </a>
    </li>
    <li class="list-group-item">
      <a href="https://twitter.com/FarmCodeGary" target="_blank">Twitter</a>
    </li>
    <li class="list-group-item">
      <a href="mailto:benson.garrsion@gmail.com" target="_blank">E-mail</a>
    </li>
  </ul>
</div>

