<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
<a href="{{ article.category.get_absolute_url }}">
  {{ article.category }}
</a>
{% if article.contributors.all %}
  &nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  {% for contributor in article.contributors.all %}
    {{ contributor.display_name }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
{% endif %}
&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
{{ article.pub_date|date:"l, F j, Y" }}
{% if article.tags.all %}
  &nbsp;<span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
  {% for tag in article.tags.all %}
    <a href="{{ tag.get_absolute_url }}">
      {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
{% endif %}
{% if article.comment_set.all %}
  &nbsp;<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  <a href="{{ article.get_absolute_url }}#comments">
    {{ article.comment_set.all|length }}
    {% if article.comment_set.all|length > 1 %}
      Comments
    {% else %}
      Comment
    {% endif %}
  </a>
{% endif %}

