{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ article.title }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="blog-heading">
  <h1>{{ article.title }}</h1>
  <p>{% include 'blog/_article_metadata.html' %}</p>
</div>
<hr/>
<div class="blog-content">
  {{ article.text|safe }}
</div>
<hr/>
<div id="comments">
  <h3>Comments</h3>
  {% for comment in article.comment_set.all %}
    <div id="comment-{{ comment.pk }}" class="panel panel-default">
      <div class="panel-heading comment-heading clearfix">
        <h3 class="panel-title comment-name">
          {{ comment.name }}
        </h3>
        <p class="comment-meta">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          {{ comment.pub_date|date:"n/j/Y g:i A" }}
        </p>
      </div>
      <div class="panel-body">
        <p>{{ comment.text }}</p>
      </div>
    </div>
  {% endfor %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add a comment</h3>
    </div>
    <div class="panel-body">
      <form id="commentform" action="{{ article.get_absolute_url }}#commentform" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

