{% extends "base.html" %}


{% block title %}
  {% if page_title %}
    {{ page_title }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock title %}


{% block content %}
  {% block heading %}
    {% if page_heading %}
      <h1>{{ page_heading }}</h1>
    {% endif %}
  {% endblock heading %}

  {% for article in article_list %}
  <div class="panel panel-default">
    <div class="panel-heading blog-heading">
      <a href="{{ article.get_absolute_url }}">
        <h2 class="article-title">{{ article.title }}</h2>
      </a>
      <p>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        {{ article.pub_date }}
        {% if article.tags.all %}
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
          {% for tag in article.tags.all %}
          <a href="{{ tag.get_absolute_url }}">
            {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {% if article.comment_set.all %}
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <a href="{{ article.get_absolute_url }}#comments">
            {{ article.comment_set.all|length }} Comments
          </a>
        {% endif %}
      </p>
    </div>
    
    <div class="panel-body blog-content">
      {{ article.text|safe }}
    </div>
  </div>
  {% empty %}
  <p>No posts are available.</p>
  {% endfor %}
  {% if is_paginated %}
    <nav>
      <div class="text-center">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li>
              <a href="{% url 'blog:indexpage' page_obj.previous_page_number %}" aria-label="Previous">
                <span aria-hiden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for num in paginator.page_range %}
            <li><a href="{% url 'blog:indexpage' num %}">{{ num }}</a><li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li>
              <a href="{% url 'blog:indexpage' page_obj.next_page_number %}" aria-label="Next">
                <span aria-hiden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  {% endif %}

{% endblock %}

