{% extends "base.html" %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="blog-heading">
    <h2 class="article-title">About</h2>
  </div>
  <img src="http://media.inspirationforge.com/2015/12/inspiration-forge-logo-256px.png" class="img-responsive img-rounded" alt="Inspiration Forge Logo">
  <div class="blog-content">
    <p>
      Welcome to <strong>Inspiration Forge</strong>! This blog is designed to
      provide creative inspiration for nerds (e.g. game masters), and
      maybe the occasional muggle. Our podcast is just launching, and we hope to 
      eventually host some random generators for creative inspiration.
    </p>
    <p>
      Inspiration Forge is an open-source project
      (with
      <a href="https://github.com/FarmCodeGary/InspirationForge" target="_blank">
        source hosted on GitHub</a>)
      created by <a href="https://github.com/FarmCodeGary" target="_blank">Garrison Benson</a>
      and powered by
      <a href="https://www.python.org/" target="_blank">Python 3</a>,
      <a href="https://www.djangoproject.com/" target="_blank">Django</a>,
      <a href="http://www.postgresql.org/" target="_blank">Postgres</a>,
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>,
      <a href="http://www.heroku.com/" target="_blank">Heroku</a>,
      <a href="http://gunicorn.org/" target="_blank">Gunicorn</a>,
      and <a href="http://aws.amazon.com/" target="_blank">Amazon AWS</a>.
    </p>
  </div>
{% endblock content %}

